language: node_js
node_js:
  - lts/*
notifications:
  email:
    on_success: never
    on_failure: never
sudo: false
dist: trusty
services: docker
stages:
  - Vulnerability Check
jobs:
  include:
    - stage: Vulnerability Check
      if: (type = pull_request AND branch != master AND commit_message =~ /(feat|fix|perf|ci|build)\(?\w*\)?:/)
      before_install:
        - wget https://github.com/knqyf263/trivy/releases/download/v0.1.2/trivy_0.1.2_Linux-64bit.tar.gz
        - tar zxvf trivy_0.1.2_Linux-64bit.tar.gz
      install:
        - npm install
      script:
        - docker pull wmfs/node:lts-alpine
        - ./trivy --quiet --auto-refresh --clear-cache wmfs/node:lts-alpine
        - ./trivy --exit-code 1 --severity CRITICAL --quiet --clear-cache --auto-refresh wmfs/node:lts-alpine
      cache:
        directories:
          - $HOME/.cache/trivy